<ifModule mod_rewrite.c>
    RewriteEngine on
    ErrorDocument 404 http://www.youitt2.com/error/

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</ifModule>